<apex:page showheader="false" sidebar="false" standardstylesheets="false">
<style type="text/css">
body{
margin : 0px;
<!-- background-image : url({!URLFOR($Resource.SurveyBg)}); background-color:white;
background-position : center 0;
background-size : auto auto;
background-attachment : scroll; 
overflow :hidden; -->
background-image: url({!URLFOR($Resource.FeedbackBg)});

background-repeat : repeat;
 
}
input[type="text"] {
    background: transparent;
    border:1px solid #000;
} 

<!-- td.newStyle { color: #03440F; font-weight: bold; } -->
</style> 
<style>
newStyle { color: #03440F; font-weight: bold; }
</style>
<!--
<style>
#test { background-image: url('{!URLFOR($Resource.SurveyBg)}'); opacity: 1.0;}
</style>
<style>
img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
</style> -->
<apex:form >
<apex:pageBlock >
<font face="Arial Unicode MS" color="Green" size="5px;"> Welcome {!$User.FirstName} {!$User.LastName} to the survey portal. Your feedback is vital. </font>
<!-- <table height="600" width="1300" id="test">
<tr>
<td class="newStyle"> -->
<br></br><br></br>
<font color="#03440F" font-weight="bold"><b><apex:outputText value="Name"></apex:outputText></b></font>
<br></br><br></br>
<!--</td></tr>
<tr><td class="newStyle"> -->
<font color="#03440F" font-weight="bold"><b><apex:outputText value="Experience with our customer" styleclass="newStyle"></apex:outputText></b></font>
<br></br><br></br>
<!--</td></tr>
<tr><td class="newStyle"> -->
<font color="#03440F" font-weight="bold"><b><apex:outputText value="Rate the product" styleclass="newStyle"></apex:outputText></b></font>
<br></br><br></br>
<!-- </td></tr>
<tr><td class="newStyle"> -->
<font color="#03440F" font-weight="bold"><b><apex:outputText value="Will you suggest the product to others?" styleclass="newStyle"></apex:outputText></b></font>
<br></br><br></br>
<!-- </td></tr>
<tr><td class="newStyle"> -->
<font color="#03440F" font-weight="bold"><b><apex:outputText value="Any other suggestions?" styleclass="newStyle"></apex:outputText></b></font>
<!--</td></tr>
</table> -->
</apex:pageBlock>
</apex:form>
</apex:page>