<apex:page controller="batchtry_ctrlr">
<div style="width:750px">
<font color="Red"> 
<apex:messages />
</font>
<apex:form >
<apex:pageBlock title="Upload Files" >

<div id="header" style="background-color:#ADDFFF;">
<h2 style="margin-bottom:5;">
GUIDELINES:
<ul>
<li>
This page is to be used for uploading updated MEDIC Case information. New case creation functionality is not supported.</li>
<li>
Only CSV files are to be used for updating case information.</li>
<li>
One case comment addition is supported for each case. Comment modification is not supported.</li>
<li>
The upload file format can be downloaded from the link. 
<apex:commandlink action="{!getFile}">
<apex:outputlink value="/servlet/servlet.FileDownload?file={!'015P0000000LLCG'}">Click Here To Download</apex:outputlink>
</apex:commandlink>
</li>
</ul>
</h2>
</div>
<!--
<a href="{!URLFOR($Resource.UploadTemplate)}" target="_parent">ClickHere</a>
-->
<table border="1" cellpadding="8" cellspacing="2" align="center">
<tr>
<td align="center">
<b><apex:outputText value="Select Object  "></apex:outputText></b>
</td>
<td align="center" >
  <apex:selectList label="Select Object" value="{!selectedvalue}" multiselect="false" size="1" required="true" >
  <apex:selectOptions value="{!Item}" />
  </apex:selectList>  
</td>
</tr>
<tr>
<td align="center">
<b><apex:outputtext value="Attach File"/></b><br/>
</td>
<td align="center">
<apex:inputfile id="Attachment" value="{!contentfile}" filename="{!filename}" />
</td>
</tr>
<br/>
<tr align="center">
<td align="center" colspan="2">
<apex:commandbutton action="{!submit1}" value="Submit" id="SubmitButton"  status="counterStatus"/> 
</td>
</tr>
</table>
</apex:pageBlock> 
</apex:form>
</div>
</apex:page>